html {
  font-family: Verdana, Helvetica, Arial, sans-serif;
}

@media (min-width: 900px) {
  #main {
    display: flex;
  }

  #treets {
    flex: 1;
    display: block;
  }
  
  #menu {
    flex: 0 0 300px;
  }
}

.box {
  background-color: #daedff;
  border-radius: 10px;
  border: 2px solid black;
  padding: 5px;
}

a {
  text-decoration: none;
  color: #000000;
}

a:hover {
  text-decoration: underline;
}
